<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Ember Starter Kit</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
</head>
<body>
  <script type="text/x-handlebars">
    <nav class ="navbar navbar-default" role ="navigation">
      <div class = "navbar-header">
        {{#link-to "index" classNames="navbar-brand"}}
          Emberoverflow
        {{/link-to}}
      </div>

      <ul class="nav navbar-nav"> 
        {{#if userSignedIn}}
        <li>
          {{#link-to 'ask-question'}}
            Ask a Question!
          {{/link-to}}
        </li> 
        {{/if}}
      </ul>

      <ul class="nav navbar-nav"> 
        <li>
          {{#link-to 'about'}}
            About site
          {{/link-to}}
        </li> 
      </ul>

      <ul class="nav navbar-nav"> 
        {{#if userSignedIn}}
        <li>
          <a href='#' {{action signOut}}>
            Welcome, {{signedInUser.name}} - Sign Out
          </a>
        </li> 
        {{else}}
         <li>
          {{#link-to 'sign-in'}}
            Sign In
          {{/link-to}}
        </li> 
        {{/if}}
      </ul>

    </nav>

    {{outlet}}
  </script>

  <script type="text/x-handlebars" id="questions">
    <div class = "row">
      <div class = "col-md-6">
        <h2>{{siteTitle}}</h2>
        <p>It currently is {{currentDate 'LL'}}</p>
      
        <ul>
        {{#each}}
          {{question-preview question=this}}
        {{/each}}
        </ul>
      </div>
      <div class = "col-md-6">
        {{outlet}}
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" id="question">
    <div class = "row">
      <div class = "col-md-8">
        <h2>{{topic}}</h2>
        
        {{#if isEditing}}
          <form {{action submitEdit on ="submit"}}>
            <div class ="form-group">
              <label for="topic">Question topic</label>

              {{textarea 
                id="question"
                value=question
                classNames="form-control"
                placeholder="Ask away!"}}
            </div>

            <button class="btn btn-primary" type="submit">
              Update Question
            </button>
          </form>  
        {{else}}

          <p id="question">{{question}}</p>
          <p>Asked by {{author.name}}</p>

          {{#if canEditQuestion}}
            <p>
              <a href="#" {{action toggleEditQuestion}}>Edit Question</a>
            </p>
          {{/if}}
        {{/if}}
      </div>
    </div>
    <hr/>

    {{render 'answers' answers}}

    <hr/>
    
    {{view App.AnswerFormView}}
      
  </script>

  <script type="text/x-handlebars" id="ask-question">
    <div class = "row">
      <div class = "col-md-8">
        <form {{action askQuestion on ="submit"}}>
          <div class = "form-group">
            <label for ="topic">Topic</label>

            {{input id="topic"
              value=topic
              classNames="form-control"
              placeholder="Topic of your Question"
            }}

          </div>
          <div class = "form-group">
            <label for ="question">Question</label>

            {{textarea id="question"
              value=question
              classNames="form-control"
              placeholder="Your Question"
              rows="5"
            }}
          </div>

          {{#if question}}
            <div class ="form-group">
              <p>Question preview:</p>
              <p>{{question}}</p>
            </div>
          {{/if}}

          <button class="btn btn-primary" type ="submit">
            Ask away!
          </button>
        </form> 
      </div>
      <div class ="col-md-4">
        <h2>Mayby this will help</h2>

        {{#each latestQuestions}}
          <div class="panel panel-default">
            <div class = "panel-body">
              {{#link-to 'question' this}}
                {{topic}}
              {{/link-to}}

              {{question}}
              <br/>
              - {{author.name}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" id="sign-in">
    <div class = "row">
      <div class = "col-md-8">
        {{#if controllers.application.userSignedIn}}
          <p>You are already signed in!</p>
        {{else}}
        <form {{action signIn on ="submit"}}>
          <div class = "form-group">
            <label for ="email">Email address</label>

            {{input id="email"
              value=email
              classNames="form-control"
              placeholder="Enter your email address"
            }}
          </div>

          <button class="btn btn-primary" type ="submit">
            Sign In
          </button>
        </form>
        {{/if}}
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" id="about">
    <div class = "row">
      <div class ="col-md-8">
        <h2>About Emberflow</h2>
        <p>
          Emberoverflow is a question and answer site for programmers and
          hamsters. We are a little bit different because we are written in
          Ember.js
        </p>
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" id="components/question-preview">
    {{#link-to 'question' question}}
      {{question.topic}} 
    {{/link-to}}

    {{#if answersPresent}}
      <span class ="label label-default">{{answerCount}} {{pluralForm}}</span>
    {{/if}}

    - asked by {{question.author.name}}
    {{date}}
  </script>

  <script type="text/x-handlebars" id="answers">
  <div class = "row">
      <div class = "col-md-8">
        {{#each}}
          <div class = "panel panel-default">
            <div class = "panel-heading">
              {{author.name}} on {{date}}
            </div>
            <div class ="panel-body">
              {{answer}}
            </div>
          </div>
        {{else}}
          <h4>Sorry, no answers here yet</h4>
        {{/each}}
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" id="answer_form">
  <div class = "row">
      <div class = "col-md-8">
        <h4>Submit your Answer</h4>
        <form {{action answerQuestion on ="submit"}}>
          <div class = "form-group">
            {{textarea 
              id="answer" 
              value=answer
              classNames="form-control"
            }}
          </div>
        <button class="btn btn-primary" type ="submit">
          Post answer
        </button>  
        </form>  
      </div>
  </div>
  </script>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/handlebars/handlebars.js"></script>
  <script src="bower_components/ember/ember.js"></script>
  <script src="bower_components/ember-data/ember-data.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>

  <script src="js/app.js"></script>

  <script src="js/components/question_components.js"></script>

  <script src="js/helpers.js"></script>

  <script src="js/views/answer_views.js"></script>

  <script src="js/models/question_model.js"></script>
  <script src="js/models/user_model.js"></script>
  <script src="js/models/answer_model.js"></script>

  <script src="js/fixtures/question_fixtures.js"></script>
  <script src="js/fixtures/user_fixtures.js"></script>
  <script src="js/fixtures/answer_fixtures.js"></script>

  <script src="js/routes/application_routes.js"></script>
  <script src="js/routes/question_routes.js"></script>

  <script src="js/controllers/application_controllers.js"></script>
  <script src="js/controllers/sign_in_controller.js"></script>
  <script src="js/controllers/question_controllers.js"></script>
  <script src="js/controllers/answer_controllers.js"></script>

  <script src="tests/runner.js"></script>
</body>
</html>
